/* src/components/RecipeCard.css */
.recipe-card {
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.recipe-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.recipe-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.recipe-card p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.recipe-card a {
    color: #d4510f;
    text-decoration: none;
    font-weight: bold;
}

.recipe-card a:hover {
    text-decoration: underline;
}
